{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Users Limit plugin for Craft CMS 3.x
 *
 * Users Limit index.twig
 *
 * @author    trebuh
 * @copyright Copyright (c) 2019 trebuh
 * @link      https://www.trebuh.com
 * @package   UsersLimit
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flience\\userslimit\\assetbundles\\userslimit\\UsersLimitAsset") %}
{% do view.registerAssetBundle("flience\\userslimit\\assetbundles\\userslimitscpsection\\UsersLimitsCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/https://www.trebuh.com/users-limit/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Users Limit" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('users-limit') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@flience/userslimit/assetbundles/userslimitscpsection/dist', true) ~ '/img/UsersLimits-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('users-limit') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "UsersLimits CP Section body goes here"|t('users-limit') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
